<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>RoadFlare uses your camera to scan QR codes when adding drivers to your network.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RoadFlare uses your location to set your pickup address and find nearby drivers.</string>
	<key>CFBundleDisplayName</key>
	<string>RoadFlare</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpaceGrotesk-Bold.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.roadflare.RoadFlare.driver-share</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>roadflared</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
